@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;600&display=swap');


:root {
 --pink: hsl(322, 100%, 66%);
 --very-pale-cyan: hsl(193, 100%, 96%);
 --very-dark-cyan: hsl(192, 100%, 9%);
 --grayish-blue: hsl(208, 11%, 55%);
 --white: hsl(0, 0%, 100%);
 --black: hsl(0, 0%, 0%);
}

*, *::before, *::after {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

.container {
 margin: 0 auto;
}


// Utility Classes

h1, h2 {
 font-family: 'Poppins', sans-serif;
}

p {
 font-family: 'Open Sans', sans-serif;
}

.btn {
 font-family: 'Open Sans', sans-serif;
 text-decoration: none;
 font-size: 0.7rem;
 border-radius: 25px;
 font-weight: 700;
}

.get-started {
 display: block;
 background-color: var(--pink);
 box-shadow: 0 1px 4px var(--grayish-blue);
 color: var(--white);
 padding: 1.2em 3.75em;
 margin: 0 auto;
 max-width: 225px;
 text-align: center;

 &:hover, &:focus {
  opacity: 0.75;
 }
}


// Header

header {
  background-image: url(./images/bg-hero-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;

 .nav-bar {
  padding-top: 1.5em;
  margin: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
   width: 30%;
   height: 30%;
   max-width: 150px;
  }

  .try-free {
   background-color: var(--white);
   color: var(--black);
   box-shadow: 0 1px 4px var(--grayish-blue);
   padding: 0.4em 1.75em;

   &:hover, &:focus {
    opacity: 0.75;
   }
  }
 }

 .hero {
  text-align: center;
  margin: 5em auto 5em;
  padding: 0 auto;
  max-width: 350px;
  min-width: 350px;

  .heading {
   font-size: 1.5rem;
   margin: 0 auto 1em;
   width: 80%;
  }

  .description {
   font-size: 1rem;
   margin: 0 auto 2em;
   width: 87.5%;
  }

  img {
   width: 90%;
   margin: 3em auto 2em;
   // display: block;
  }
 }
}


// Main

main {

 .cards {
  display: flex;
  flex-direction: column;
  gap: 2em;

  .card {
   max-width: 350px;
   min-width: 350px;
   text-align: center;
   box-shadow: 0 2px 4px var(--grayish-blue);
   border-radius: 15px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 3em;
   
   img {
    margin: 3.5em auto 0;
    width: 70%;
   }

   .text {
    margin: 0 auto;
    padding: 0 2em 2.15em;

    .sub-heading {
     font-size: 1.25rem;
     margin-bottom: 0.7em;
    }

    .description {
     font-size: 0.85rem;
     line-height: 1.5;
    }
   }
  }
 }

 .cta {
  background-color: var(--white);
  max-width: 350px;
  border-radius: 15px;
  box-shadow: 0 1px 4px var(--grayish-blue);
  margin: 1em auto 3em;
  padding: 2.75em 0;
  text-align: center;
  position: relative;
  bottom: -100px;

  .sub-heading {
   font-size: 1.1rem;
   margin-bottom: 1.25em;
  }
 }
}


// Footer

footer {
 background-color: var(--very-dark-cyan);
 color: var(--white);
 padding-top: 7.5em;
 padding-bottom: 3em;

 .logo {
  max-width: 350px;
  margin: 0 auto;

  svg {
   width: 10em;
   height: 6em;
   display: block;
  }
 }


 .main-footer {
  font-family: 'Open Sans', sans-serif;
  max-width: 350px;
  min-width: 350px;
  margin: 0 auto;

  .contact-us {

   .contact {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 1.5em;

    img {
     width: 1.2em;
    }

    p {
     font-size: 1rem;
    }
   }

   .address {
    img {
     align-self: flex-start;
     margin-right: 0.5em;
    }
   }
  }


  .links {
   display: flex;
   flex-direction: column;
   gap: 1em;
   margin: 3em 0;
   
   * {
    text-decoration: none;
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 1em;
   }
  }


  .socials {
   display: flex;
   justify-content: center;
   gap: 0.75em;
   margin: 2em auto 1.75em;
   text-align: center;

   a {

    i {
     font-size: 1rem;
     line-height: 2rem;
     width: 2rem;
     height: 2rem;
     border: 1px solid var(--white);
     color: var(--white);
     border-radius: 50px;
    }
   }
  }
 }


 .copyright-section {
  text-align: center;

  .copyright {
   font-family: 'Poppins', sans-serif;
   font-size: 0.7rem;
   font-weight: 400;
  }
 }


 .acknowledgements {
  margin-top: 2em;

  .attribution {
   font-size: 11px; text-align: center;
   font-family: 'Poppins', sans-serif;
  
   a {
    color: var(--white);
    opacity: 0.8;
   }
  }
 }
}



@media screen and (min-width: 1024px) {
 // Utility Class


 .get-started {
  padding: 1.5em 5em;
  font-size: 0.75rem;
  max-width: 250px;
 }


 // Header

 header {
   background-image: url(./images/bg-hero-desktop.svg);

  .nav-bar {
   padding-top: 2.5em;
   margin: 0 5em;

   img {
    max-width: 155px;
   }

   .try-free {
    padding: 0.8em 4em;
    font-size: 0.85rem;
   }
  }

  .hero {
   text-align: unset;
   margin: 5em 5em 5em;
   display: flex;
   align-items: center;
   gap: 3em;
   max-width: unset;

   .intro {
    width: 65%;

    .heading {
     font-size: 2.25rem;
     margin: 0 auto 0.5em;
     width: 100%;
    }

    .description {
     font-size: 1.1rem;
     margin: 0 auto 2em;
     width: 100%;
    }

    .get-started {
     margin: 0 0 5em;
    }
   }

   .image {
    img {
     width: 100%;
     margin: 0 auto 2em;
    }
   }
   
  }
 }


 // Main

 main {
  margin: 0 5rem;

  .cards {
   display: flex;
   flex-direction: column;
   gap: 2em;

   .card {
    max-width: unset;
    text-align: unset;
    margin: 0 auto;
    padding-left: 5em;
    padding-right: 1em;
    display: flex;
    flex-direction: row;
    gap: 3em;
    
    img {
     margin: 3em 1em;
     width: 40%;
    }

    .text {
     margin: 0 auto;
     padding: 0 2em 2em;

     .sub-heading {
      font-size: 1.5rem;
      margin-bottom: 0.5em;
     }

     .description {
      font-size: 1.2rem;
     }
    }
   }

   .grow-together, .your-users {
    flex-direction: row-reverse;
   }
  }

  .cta {
   background-color: var(--white);
   max-width: 70%;
   border-radius: 15px;
   box-shadow: 0 1px 4px var(--grayish-blue);
   margin: 1em auto 3em;
   padding: 3em 0;
   text-align: center;
   position: relative;
   bottom: -100px;

   .sub-heading {
    font-size: 2rem;
    margin-bottom: 1em;
   }

   .get-started {
    padding: 1.35em 4em;
    font-size: 1.1rem;
    max-width: 350px;
    border-radius: 50px;
   }
  }
 }


 // Footer

 footer {

  .logo {
   margin: 0;

   svg {
    width: 15em;
    height: 5em;
    display: block;
    margin: 5em 0 2em 5em;
   }
  }

  .main-footer {
   max-width: unset;
   margin-left: 5em;
   margin-right: 5em;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: flex-start;
   gap: 4em;

   .contact-us {

    .contact {
     display: flex;
     gap: 1em;
     margin-bottom: 1.5em;

     img {
      width: 1.2em;
     }

     p {
      font-size: 1.25rem;
     }
    }

    .address {
     img {
      align-self: flex-start;
      margin-right: 0.5em;
     }

    }
   }


   .links {
    margin: unset;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    * {
     text-decoration: none;
     color: var(--white);
     font-size: 1.25rem;
    }
   }


   .socials {
    display: flex;
    justify-content: flex-start;
    gap: 0.75em;
    margin: 0 auto 1.75em;
    text-align: center;

    a {
     
     i {
      font-size: 1rem;
      line-height: 2rem;
      width: 2rem;
      height: 2rem;
      border: 1px solid var(--white);
      color: var(--white);
      border-radius: 50px;
     }
    }
   }
  }


  .copyright-section {
   text-align: right;
   margin-right: 5em;

   .copyright {
    font-size: 0.7rem;
   }
  }


  .acknowledgements {
   margin-top: 2em;

   .attribution {
    font-size: 11px; text-align: center;
    font-family: 'Poppins', sans-serif;
   
    a {
     color: var(--white);
     opacity: 0.8;
    }
   }
  }
 }
}